body, div, p, h1, h2, h3, input, textarea {
    font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 5em;
    font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
    font-style: normal;
    text-align: right;
}

h2, h3 {
    font-size: 3em;
}

p.date {
    line-height: 1.4em;
}

div.body > p:first-child {
    font-size: 1.3em;
}

div#authorship {
    font-size: .8em;
}

form input, form textarea {
    font-size: 1em;        
}
